<div class="section">
  <div class="container">
    <h1 class="title is-2">Privacy Policy</h1>

    <p>RepeatMyRecipes is a fun Alexa skill.</p><br/>
    
    <p>It is not a commercial enterprise.</p><br/>

    <p>When you sign up, your name and email address are stored on computer and associated with your Alexa device.  This is done so that your recipes can be stored and replayed on your Alexa device.</p><br/>

    <p>RepeatMyRecipes will not give your personal information to a third party, unless you explicitly ask us to, or are required to by law.</p><br/>
    
    <p>Please assume that all recipes added to repeatmyrecipes are public.  Not because they are intentionally made public, but because this is a low security hobby project.  The source code has even been released to the public for educational purposes.  So, for example, if you have the secret coca cola recipe, do not add it to repeatmyrecipes</p><br/>
    
    </div>
</div>