<section class="section">
  <div class="container">


	  <h1 class="title is-2">Terms of Service</h1>

	  <p>By using the RepeatMyRecipes.com web site ("Service"), or any services of RepeatMyRecipes ("RepeatMyRecipes"), you are agreeing to be bound by the following terms and conditions ("Terms of Service").</p><br/>

	  <p>If RepeatMyRecipes makes material changes to these Terms, we will notify you by email or by posting a notice on our site before the changes are effective. The most current version of the Terms of Service at any time at: <a href="http://RepeatMyRecipes.com">http://RepeatMyRecipes.com/terms_of_service</a>.</p><br/>

	  <p>Violation of any of the terms below will result in the termination of access to RepeatMyRecipes.</p><br/>

    <h1 class="title is-3">Free Service</h1> 
    <p>RepeatyRecipes is created as a fun project.  It may cease to exist at any moment for any reason.</p><br/>

    <h1 class="title is-3">Confidentiality</h1>

		<p>RepeatMyRecipes will not disclose account information to other parties without your explicit action directing RepeatMyRecipes to share information with other users. </p><br/>
	  <h1 class="title is-3">Data Quality</h1>
    <p>The data available at RepeatMyRecipes is known to have errors.</p><br/>


   <h1 class="title is-3">Account</h1>

	  <p>You must be 13 years or older to use this Service.</p><br/>
	  <p>You must be a human.</p><br/>
	  <p>You must provide your name and email address to create an acccount.</p><br/>
	  <p>You are responsible for maintaining the security of your account and password. RepeatMyRecipes cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</p><br/>
	  <p>You may not use the Service for any illegal or unauthorized purpose.</p>
    <br/>

    <h1 class="title is-3">General Terms</h1>

	    <p>Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis.</p><br/>

      <p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by RepeatMyRecipes.</p><br/>

		  <p>If your bandwidth usage significantly exceeds the average bandwidth usage (as determined solely by RepeatMyRecipes) of other RepeatMyRecipes customers, we reserve the right to immediately disable your account or throttle your file hosting until you can reduce your bandwidth consumption.</p><br/>

		  <p>RepeatMyRecipes does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</p><br/>

		  <p>You expressly understand and agree that RepeatMyRecipes shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if RepeatMyRecipes has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third-party on the service; (v) or any other matter relating to the service.</p><br/>

		  <p>The failure of RepeatMyRecipes to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and RepeatMyRecipes and govern your use of the Service, superseding any prior agreements between you and RepeatMyRecipes (including, but not limited to, any prior versions of the Terms of Service). You agree that these Terms of Service and Your use of the Service are governed under California law.</p><br/>

	 <br/>
  </div>
</section>