<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Repeat My Recipes</strong> by <a href="http://technoir.blog">Robert Berry</a>.
        Please review the <%= link_to 'terms of service', terms_path %> and <%= link_to 'privacy policy', privacy_path %>.
      </p>
    </div>
  </div>
</footer>